body {
  background-color:grey;
  padding:5% 10% 10% 10%;
  border: solid;
 }
 a{
   text-decoration: none;
   color: black;
   font-family: : courier;
 }

 h1 {
   font-family: courier;
   text-align: center;
   color: black;
   border: solid;
 }
#navbar{
  border: solid;
  text-align: center;
  font-size: 110%;

}
.navitems{
  margin-left: 3%;
  margin-right: 3%;

}

#jumbotron {
  background-image: url('https://images.pexels.com/photos/269790/pexels-photo-269790.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
}

.card {
  background-image: url('https://images.pexels.com/photos/408503/pexels-photo-408503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
}

#about {
  background-image: url('https://images.pexels.com/photos/1227511/pexels-photo-1227511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

}
